

@{
    ViewBag.Title = "Gold";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gold</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
