
@{
    ViewBag.Title = "TokenAccount";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
}


<div class="main-content-header container-fluid p-4">
    <div>

    </div>
</div>

<div class="container-fluid">

    <!-- Row -->
    <div class="row">
        <div class="col-12">
            <div class="card mg-b-20">
                <div class="card-body">
                    <div class="main-content-label mg-b-5">
                        Digi Token Account
                    </div>
                    <p class="mg-b-20">Following is your digi token account.</p>
                    <div class="table-responsive">
                        <table class="table mg-b-0 text-md-nowrap">
                            <thead>
                                <tr>
                                    <th>SNO.</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>Transaction Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Product Purchased</td>
                                    <td>1.15</td>
                                    <td>Dec 10, 2021</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Product Purchased</td>
                                    <td>1.15</td>
                                    <td>Dec 10, 2021</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Product Purchased</td>
                                    <td>1.15</td>
                                    <td>Dec 10, 2021</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Product Purchased</td>
                                    <td>1.15</td>
                                    <td>Dec 10, 2021</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>Product Purchased</td>
                                    <td>1.15</td>
                                    <td>Dec 10, 2021</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->

</div>

