
@{
    ViewBag.Title = "TradeAction";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
}

<!--Main Content Header-->
<div class="main-content-header container-fluid p-4">
    <div>
        <h6 class="main-content-title tx-18 mg-b-5 mg-t-7">Diginet Trade & Action</h6>
    </div>
</div>
<!--Main Content Header-->
<!--Main Content Container-->
<div class="container-fluid">

    <!-- Row -->
    <div class="row row-sm">
        <div class="col-md-12">
            <div class="card mg-b-20">
                <div class="card-body">
                    <div class="pd-30 pd-sm-40 bg-light">
                        <div class="row row-xs">
                            <div class="col-md-3">
                                <label class="form-label tx-bold">Assets</label>
                                VAULTED GOLD
                            </div>
                            <div class="col-md-2 mg-t-10 mg-md-t-0">
                                <label class="form-label tx-bold">Quantity</label>
                                10.00
                            </div>
                            <div class="col-md-2 mg-t-10 mg-md-t-0">
                                <label class="form-label tx-bold">Valuation</label>
                                £500.00
                            </div>
                            <div class="col-md-5 mg-t-10 mg-md-t-0">
                                <label class="form-label tx-bold">Actions</label>
                                <button class="btn btn-main-primary">Sell Back</button>
                                <button class="btn btn-main-primary">Transfer</button>
                                <button class="btn btn-main-primary">Create Token</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pd-30 pd-sm-40 bg-light">
                        <div class="row row-xs">
                            <div class="col-md-3">
                                <label class="form-label tx-bold">Assets</label>
                                VAULTED Silver
                            </div>
                            <div class="col-md-2 mg-t-10 mg-md-t-0">
                                <label class="form-label tx-bold">Quantity</label>
                                10.00
                            </div>
                            <div class="col-md-2 mg-t-10 mg-md-t-0">
                                <label class="form-label tx-bold">Valuation</label>
                                £500.00
                            </div>
                            <div class="col-md-5 mg-t-10 mg-md-t-0">
                                <label class="form-label tx-bold">Actions</label>
                                <button class="btn btn-main-primary">Sell Back</button>
                                <button class="btn btn-main-primary">Transfer</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pd-30 pd-sm-40 bg-light">
                        <div class="row row-xs">
                            <div class="col-md-3">
                                <label class="form-label tx-bold">Assets</label>
                                DigiGold Tokens
                            </div>
                            <div class="col-md-2 mg-t-10 mg-md-t-0">
                                <label class="form-label tx-bold">Quantity</label>
                                10.00 Tokens
                            </div>
                            <div class="col-md-2 mg-t-10 mg-md-t-0">
                                <label class="form-label tx-bold">Valuation</label>
                                £500.00
                            </div>
                            <div class="col-md-5 mg-t-10 mg-md-t-0">
                                <label class="form-label tx-bold">Actions</label>
                                <button class="btn btn-main-primary">View Tokens</button>
                                <button class="btn btn-main-primary">Transfer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->

</div>

